<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DESIRE--收藏夹</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/save.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
</head>

<body>
<div id="info-header">
    <div id="logo"><a href="/home">荐书网</a></div>
    <div class="menu">
        <ul id="header-user">
            <li class="user">
                <a class="float_1" href="/save" style="margin-right: 20px">我的收藏</a>
            </li>
            <li class="user">
                <a class="float_1" href="/shopping_cart">我的购物车</a>
            <li class="user"><a class="float_1" href="/order">订单</a></li>
        </ul>
    </div>


</div>
<!--CreateDate  2017-06-11 10:00:02-->
<div style="position:relative;" class="logo_line_out">
    <div class="logo_line" dd_name="搜索框">
        <div class="logo">
            <img src="" usemap="#logo_link"/>
            <map name="logo_link" id="logo_link" dd_name="logo区">
                <area shape="rect" coords="0,18,200,93" href="" title="当当" onfocus="this.blur();">
                <area shape="rect" coords="200,18,320,93" href="" title="" target="_blank" onfocus="this.blur();">
            </map>
        </div>
    </div>
</div>
</div>

<div class="home_nav_l_box"></div>
</div>
<a id="view_point" name="view_point"></a>
<div class="main_frame">
    <div id="callbackjs"></div>
    <div class="main_right">

        <div class="shop_main_right">
            <div class="mydd_temp_title">
                <div class="mydd_temp_nav">
                    <a href="" class="now">
                        <span>商品收藏</span>
                    </a>
                </div>
            </div>


            <ul class="myfavo_list clearfix">
                <li id="product_list_23629403" style="background-color: rgb(255, 255, 255); width:780px;">
                    <div class="r1">
                        <input type="checkbox" class="chosen" name="CheckAll" id="CheckAll" onclick=""
                               value="23629403"/>
                        <div class="things">
                            <a title="美国进口 亨氏苹果醋946ML 水果醋 沙拉 调味醋" class="pic" href="" target="_blank"><img class
                                                                                                           src="\static\img\01.jpg"
                                                                                                           width="70"
                                                                                                           height="70"/></a>
                        </div>
                        <div class="detail">
                            <p>
                                <a class="title" title="美国进口 亨氏苹果醋946ML 水果醋 沙拉 调味醋" href="" target="_blank">美国进口
                                    亨氏苹果醋946ML 水果醋 沙拉 调味醋
                                </a>
                            </p>
                            <p class="gray">收藏人气：295人
                                <span class="space">已有
                             <a target="_blank" href="">1274</a>人评论
                          </span>
                            </p>
                            <p class="gray">收藏时间：2017-06-01</p>
                            <p class="tag_p" id="edittags_23629403" style="display: none;">标签：
                                <input id="producttags_23629403" type="text" class="text" onfocus="if (this.value != '多个标签用空格分隔') {
                                                                this.style.color = '#404040'
                                                            } else {
                                                                this.value = '';
                                                                this.style.color = '#404040'
                                                            }" onblur="if (this.value == '') {
                                                                        this.value = '多个标签用空格分隔';
                                                                        this.style.color = '#878787'
                                                                    }" onkeydown="enter_submit_tag(event,23629403);"/>
                                <a name="submit" href="javascript:void(0);" onclick="submittags(23629403);"
                                   class="btn_save">保存</a>
                                <a name="cancel" href="javascript:void(0);" onclick="closeedittag(23629403);">取消</a>
                            </p>
                            <p id="errorhint_23629403" class="wrong" style="display:none"></p>
                        </div>
                    </div>
                    <div class="r2 center">
                        <p><span class="price">&yen;29.90</span></p>
                    </div>
                    <div class="r4">
                        <p><a id="go_cart" class="btn btn_buy" dd_name="加入购物车">加入购物车</a></p>
                        <p><a name="delete" href="javascript:;">删除</a></p>
                    </div>
                </li>
                <li id="product_list_23931425" style="background-color: rgb(255, 255, 255); width:780px;">
                    <div class="r1">
                        <input type="checkbox" class="chosen" name="CheckAll" id="CheckAll" onclick=""
                               value="23931425"/>
                        <div class="things">
                            <a title="超能洗衣液植翠低泡鲜艳亮丽1kg/袋装补充装天然椰油" class="pic" href="" tat="_blank">
                                <img src="\static\img\02.jpg" width="70" height="70"/>rge
                            </a>
                        </div>
                        <div class="detail">
                            <p>
                                <a class="title" title="超能洗衣液植翠低泡鲜艳亮丽1kg/袋装补充装天然椰油" href="" target="_blank">超能洗衣液植翠低泡鲜艳亮丽1kg/袋装补充装天然椰油</a>
                            </p>
                            <p class="gray">收藏人气：10人<span class="space">已有<a target="_blank" href="">708</a>人评论</span>
                            </p>
                            <p class="gray">收藏时间：2017-05-18</p>
                            <p id="errorhint_23931425" class="wrong" style="display:none"></p>
                        </div>
                    </div>
                    <div class="r2 center">
                        <p><span class="price">&yen;9.90</span></p>
                    </div>
                    <div class="r4">
                        <p>
                            <a id="go_cart" class="btn btn_buy" dd_name="加入购物车">加入购物车</a>
                        </p>
                        <p>
                            <a name="delete" href="javascript:;">删除</a>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
            <input type="hidden" id='hid_filter_code' name='hid_filter_code' value='0'/>
            <input type="hidden" id='hid_page_index' name='hid_page_index' value='1'/>
            <input type='hidden' id='hid_sort_code' name='hid_sort_code' value='0'/>
            <div id="window_background"
                 style="width: 100%; left: 0px; top: 0px; z-index: 99999; display: none; position: absolute; background-color:silver;filter:alpha(opacity = 50);opacity:.5;zoom:1;">
                <div id="loading_id"
                     style="position:absolute;width:190px;left:43%;text-align:center;color:#000000;font-size:large;font-weight:700">
                    <img src="..images/loading_pop.gif"/><br/><br/>正努力为您加载中..
                </div>
            </div>
</body>
</html>
