<!DOCTYPE html PUBLIC
        "-//W3C//DTD WebAPP 1.0 Transitional//EN""http://www.w3.org/TR/WebAPP1/DTD/WebAPP1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DESIRE--购物车</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/购物车.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/购物车size-color.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">

</head>
<body style="padding-bottom:82px">


<div id="info-header">
    <div id="logo"><a href="/home">荐书网</a></div>
    <div class="menu">
        <ul id="header-user">
            <li class="user">
                <a class="float_1" href="/save" style="margin-right: 20px">我的收藏</a>
            </li>
            <li class="user">
                <a class="float_1" href="/shopping_cart">我的购物车</a>
            </li>
            <li class="user">
                <a class="float_1" href="/order" style="margin-right: 20px;">订单</a>
            </li>
        </ul>
    </div>


</div>
<div class="logo_line">
    <div class="w960">
        <div class="shopping_procedure">
            <span class="current">我的购物车</span><span>填写订单</span><span>完成订单</span></div>
    </div>
</div>
<div class="w960" id="showTip">
    <!-- 结算时 商品SPU限购提示窗口 start-->
    <div id="spuPromoLimitDiv" class="pop"
         style="left:50%; top:50%; margin:-200px 0 0 -253px; position: fixed; z-index: 1004; display: none;">
        <a class="close"></a>
        <div class="pop_title">商品限购</div>
        <div class="popup_limit"></div>
        <div class="btn_bar limit_bar">
            <a class="btn_red">确定</a><a class="pop_btn">取消</a>
        </div>
    </div>
    <!-- 结算时 商品SPU限购提示窗口 end-->
    <div class="login_tip" style="display: none;">
        <span class="icon"></span>
    </div>
    <div id="remove_pop" class="login_tip" style="display: none;">
        <span class="icon"></span>
    </div>
    <div id="clear_pop" class="login_tip" style="display: none;">
        <span class="icon"></span>
    </div>
</div>
<div class="w960" id="cart">
    <ul class="shopping_title"></ul>
    <div id="J_cartContent" class="fn_shops">
        <div class="fn-shop">
            <div class="shopping_list">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    {% for info in objectinfos %}
                        <tbody data-stock="270" data-offline="false" data-productid="23629403"
                               data-timestamp="1497078258000" data-orderforspupormo="0">
                        <tr id="tr_503188625" class="bb_none tree_first">
                            <td class="row1">
                                <input type="checkbox" onclick="check_all_click(this)" id="Check_All_Up"/>
                            </td>
                            <td class="row_img">
                                <a href="" target="_blank" dd_name="查看详情">
                                    <img src="{{ info.img }}" height="80" width="80">
                                </a>
                            </td>
                            <td class="row_name">
                                <div class="name">
                                    <a href="" title="{{ info.title }}" target="_blank" dd_name="查看详情"
                                       style="word-break:break-all;word-wrap:break-word;">{{ info.title }}
                                    </a>
                                </div>
                            </td>
                            <td class="row3">
                                <span class="price_n">￥{{ info.price }}</span>
                            </td>
                            <td class="fn-count-trip row3" data-minbuy="0">
                      <span class="amount fn-uodatecount" data-value="1">
                        {{ object_quantity }}
                      </span>
                            </td>
                            <td class="row4">
                                <span class="red">￥{{ object_prices }}</span>
                            </td>
                            <td class="row5">
                        <span>
                            <a class="fn-add-wish" href="" data-item="503188625" dd_name="加入收藏按钮">移入收藏</a>
                        </span>
                                <span>
                            <a class="fn-remove-product" href="" data-item="503188625" dd_name="删除普通品">删除</a>
                        </span>
                                <span>
                            <a class="fn-object-xq" href="/objectxq" data-item="503188625" dd_name="商品详情">商品详情</a>
                        </span>
                            </td>
                        </tr>

                        <tfoot>
                        <tr class="total">
                            <td class="row1"></td>
                            <td class="row_img">合计</td>
                            <td class="row4" colspan="3">
                                <span class="red big ooline alignright">￥{{ object_prices }}</span>
                            </td>
                        </tr>
                        </tfoot>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="hide_div" style="height:0px;visibility:hidden;"></div>
<div style="position:static;bottom:-20px;z-index: 101;width:100%;left:0px;">
    <div class="shopping_total" id="J_totalMoneyBlock">
        <div class="shopping_total_right">
            <a class="total_btn fn-checkout" href="/write/?p8={{ object_prices }}&p7={{ info.id }}" id="checkout_btn" dd_name="结算">结&nbsp;&nbsp;算</a>

        </div>

    </div>
</div>
<div id="J_errorBox" style="display: none;z-index:102" class="pop_del col">
    <p></p>
    <a class="pop_btn fn-close-removebox" href="javascript:;">确定</a>
</div>
<div id="J_addToWishTipHtml" style="display: none; position: absolute;"></div>
<div id="J_addWishBox" style="display: none" class="pop_del col ">
    <p>移入收藏后，将不在购物车显示，是否继续操作？</p>
    <a href="javascript:;" class="pop_btn fn-confirm-addwish">确定</a>
    <a href="javascript:;" class="pop_btn fn-close-wishbox">取消</a></div>
<div id="J_removeProductBox" style="display: none;" class="pop_del">
    <p>您确定要删除商品吗？</p>
    <a href="javascript:;" class="pop_btn fn-confirm-removebox">确定</a>
    <a href="javascript:;" class="pop_btn fn-close-removebox">取消</a></div>
<div id="J_removeGiftBox" style="display: none;" class="pop_del">
    <p>您确定要删除赠品吗？</p>
    <a href="javascript:;" class="pop_btn fn-confirm-removegiftbox">确定</a>
    <a href="javascript:;" class="pop_btn fn-close-removebox">取消</a></div>


</body>
</html>

