＊
{
    margin:0;
    padding:0;
    font-family: Droid Sans Fallback;
}
body {
    font-family: "PingFang SC","微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 1240px;
}

.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}

.store-wrap {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    width: 1240px;
}
.crumbs {
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
}
.crumbs a {
    color: #666666;
    display: inline-block;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.crumbs .active {
    color: #00c3f5;
}

.clearfix {
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.main .left-nav {
    color: #666;
    font-size: 14px;
    min-height: 580px;
    width: 15%;
}
.main .right-content {
    display: inline-block;

    margin-left:10px; 

    width: 83%;
}
/*--LEFT 的元素属性设置--*/
.f-fl {
    float: left !important;
}

.main .nav-main {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fafafc;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    margin-top: 10px;
    padding-bottom: 54px;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
}
.main .nav-main a:hover {
    color: #00c3f5;
}
.main .left-nav .active {
    color: #00c3f5 !important;
}
.main .left-nav .type-title {
    cursor: default;
    font-weight: bolder;
    line-height: 56px;
}
.main .left-nav .type-title:hover {
    color: #666;
}
.main .left-nav .type-title .iconfont {
    font-size: 17px !important;
    padding-right: 5px;
}
.main .left-nav .type-title:first-child {
    line-height: 14px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
.main .left-nav a {
    color: #666;
    display: block;
    line-height: 34px;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 85px;
}
.float_1 {
    margin-left: 20px !important;
}
.icon-orderCenter
{
    position: static;
    left:22px;
    top:203px;
}
.icon-selfCenter
{
    position: static;
    left:22px;
    top:360px;
}
.icon-moneyCenter
{
    position: static;
    left:22px;
    top:550px;
}
.icon-serverCenter
{
    position: static;
    left:22px;
    top:700px;
}


