#info-header{
		height: 78px;
		border-bottom-color: rgb(220,220,220);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		margin-bottom: 40px
	}

    #logo{
        font-size: 48px;
        font-family:Verdana,"Microsoft YaHei",Georgia,Serif;
        font-weight: bold;
        color: rgb(102,153,255);

        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 0px;
        float: left;
    }


    .menu{
        color: rgb(57,57,57);
        float: right;
        font-size: 16px;
        font-family: "Microsoft YaHei";
        line-height: 19.2px;
        margin-top: 30px;
    }

    .user{
        float:right;
        margin-left: 30px;
    }

    .user-enroll{
        float:right;
        margin-left: 30px;
        margin-right: 30px;
    }

    ul li{
        list-style-type: none;
    }

    .search{
        float:right;

    }

    form{
        color: rgb(22,22,22);
        font-family: "Microsoft YaHei";
        padding-top: 8px;
        padding-right: 13px;
        margin-top: 20px;
    }

    #searchText{
        display: block;
        border:0.8px solid rgb(204,204,204);
        width: 304px;
        height: 32px;
        margin-right: 7px;
        margin-bottom: 10px;
        float: left;
    }



	#info-main{
		height: 500px;
        margin-top: 0px;
	}

	#info-lside{
		width: 430px;
		height: 430px;
		margin-left: 250px;

		/*background-image: url(../images/java.jpg);*/

		float: left;
	}

	#upload{
	    margin-left: 220px;
        border-top: 50px;
	}

	#info-rside{
		float: left;
		margin-left: 50px;
		font-family: "PingFang SC","微软雅黑","Microsoft Yahei",Arial;
		font-weight: 400;
	}

	h1{
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 10px;
		color: rgb(0,0,0);
	}

	#p1{
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
		color: rgb(220,46,65);
	}

	#price{
		height: 55px;
		width: 600px;
		background-attachment: scroll;
		background-color: rgb(245,245,245);
	}
	.dt-att{
		color: rgb(102,102,102);
		float: left;
		font-size: 12px;
		width: 65px;
		padding-left: 10px;
		padding-top: 15px;
	}

	#price2{
		padding-top: 22px;
	}
	#price-china{
		color: rgb(224,43,65);
		font-size: 24px;
		padding-top: 15px;
	}

	#rside-info{
		font-size: 12px;
		padding-bottom: 16px;
		color: rgb(102,102,102);
		line-height: 18px;
	}

	#control-quantity{
		font-size: 12px;
		float: left;
		height: 60px;
		width: 85px;
		margin-top: 5px;
	}

	#quantity{
		display: block;
		height: 38px;
		width: 53px;
		border:0.8px solid rgb(220,220,220);
		float: left;
		text-align: center;
		margin-top: 0px;

	}

	#control{
		float: left;

	}

	.plus{
		display: block;
		border:0.8px solid rgb(220,220,220);
		color: rgb(224,224,224);
		font-size: 14px;
		height: 16px;
		width: 20px;
		line-height: 16px;
		text-align: center;

		margin-left: 5px;
		margin-top: 0px;
		margin-bottom:5.4px;
	}

    .minus{
		display: block;
		border:0.8px solid rgb(220,220,220);
		color: rgb(224,224,224);
		font-size: 14px;
		height: 16px;
		width: 20px;
		line-height: 16px;
		text-align: center;

		margin-left: 5px;
	}


	.btn{
		display:inline-block;
		font-size: 14px;
		width: 128px;
		height: 18px;
		border:0.8px solid rgb(8, 148, 193);
		background-color: #00BBFF;
		border-radius: 3px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;

        float: left;
        margin-left: 30px;
        margin-top: 6px;
        color: white;
	}

	.favorite{
		display: inline-block;
		color: black;
		font-size: 12px;
		line-height: 18px;
		margin-top: 15px;
		margin-left: 15px;
		text-decoration: none;

		text-align: center center;
	}

	.icon-favorite{
		display: inline-block;
		height: 18px;
		width: 20px;
		background-image:url(../images/icon.png);
		background-position: -20px -100px;
		margin-top: 5px;
		margin-left: 10px;
	}

	.icon-support{
		display: block;
		height:16px;
		width: 16px;
		background-size: auto auto;
		background-image: url(../images/icon.png);
		background-position: 0px -100px;
		float: left;
		margin-left: 20px;
		margin-right: 10px;
	}

    .extra{
        color: rgb(102,102,102);
		font-size: 12px;
		width: 590px;
		padding-left: 10px;
		padding-top: 0px;
    }

    .sp{
    	display: block;
    	width: 130px;
    	height: 18px;
    	float: left;
    	margin-left: 5px;
    	margin-bottom: 30px;
    }

    #p2{
    	color: rgb(102,102,102);
		font-size: 12px;
		padding-left: 10px;
    }

    #rside-info{
    	margin-top: 50px;
    }

    #rside-extra{
    	margin-top: 50px;
    }

    #footer{
        border-top: 0.8px solid rgb(235, 235, 235);
        height: 160px;

        color:rgb(140, 140, 140);
        font-size: 12px;
        font-family: "Microsoft YaHei";
        text-align: center;

        padding-top: 17px;
        padding-bottom: 50px;
    }

    .footer_nav{
        padding-top: 25px;
        padding-bottom: 17px;

    }

    .sep{
        margin-left: 19px;
        margin-right: 17px;

    }

    .footer_copyright{
        padding-top: 10px;
    }

    .float_1{
    	text-decoration: none;
    }